---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const blogEntries = await getCollection("blog");

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <a href={`/blog/${blogPostEntry.slug}`}>
            {/* <img src={blogPostEntry.data.thumbnail} alt={blogPostEntry.data.title} /> */}
            <p>{blogPostEntry.data.title}</p>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
