---
// import:
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
// import;

// pageInfo:
const pageTitle = "ABOUT";
// pageInfo;

// profile:
const identity = {
  firstName: "Yusuke",
  country: "Japan",
  occupation: "Web技術者",
  hobbies: ["ゴルフ", "サウナ", "ラーメン"],
};
const skills = ["HTML", "CSS", "JavaScript", "PHP", "Astro", "figma"];
// profile;

// style:
const mainColor = "green";
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
// style;

// 動作確認:
const happy = true;
const finished = true;
const goal = 3;
// 動作確認;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ mainColor, skillColor, fontWeight, textCase }}>
      h1 {
        color: var(--mainColor);
        font-size: 2rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <h2>head2</h2>
    <h2>head3</h2>
    <h2>head4</h2>
    <p>テキストテキストテキストテキストテキスト</p>
    <p>テキストテキストテキストテキストテキスト</p>
    <ul>
      <li>名前: {identity.firstName}</li>
      <li>国: {identity.country}</li>
      <li>職業: {identity.occupation}</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            趣味: {identity.hobbies[0]}, {identity.hobbies[1]}
          </li>
        )
      }
      <li>
        スキル:
        <ul>
          {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
      </li>
    </ul>

    {
      // 条件に応じて要素をレンダリング
    }
    {happy && <p>happyをレンダリング</p>}
    {finished && <p>finishedをレンダリング</p>}
    {goal === 3 && <p>goalをレンダリング</p>}
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
