---
import BaseLayout from "./BaseLayout.astro";
import Toc from "../components/Toc.astro";
import TagList from "../components/TagList.astro";
import "../styles/blog.css";
const { date, title, description, tags, headings } = Astro.props;
---

<BaseLayout pageTitle={title}>
  <div class="contents">
    <h1>{title}</h1>
    <p><em>{description}</em></p>
    <p>{date.toISOString().slice(0, 10)}</p>
    <TagList tags={tags} />
    <slot />
  </div>
  <div class="sidebar">
    <Toc headings={headings} />
  </div>
</BaseLayout>
