---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const mainColor = "orange";
---

<BaseLayout pageTitle={frontmatter.title} mainColor={mainColor}>
  <p>{frontmatter.description}</p>
  <p>投稿日: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p>著者: {frontmatter.author}</p>
  <div class="thumbnail">
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  </div>
  <p>test{frontmatter.test}</p>
  <slot />
</BaseLayout>

<style>
  body {
    max-width: 900px;
    margin: 0 auto;
  }

  .thumbnail {
    background: #000;
  }
</style>
